.content {

    margin: auto;
    padding: 20px;
    width: 800px;
    background-color: #CF4647;
    font-family: "Red/Black", sans-serif;

    h1 {
        color: #ffffff;
        text-align: center;
    }

    p {
        margin-top: 30px;
        color: #ffffff;
        text-align: justify;
        font-size: 1.3em;

        a {
            color: #78eaf1;
        }
    }
}
